asgiref==3.5.2
astroid==2.11.5
beautifulsoup4==4.11.1
bs4==0.0.1
Django==4.0.5
django-environ==0.9.0
environs==9.5.0
gunicorn==20.1.0
lxml==4.9.1
marshmallow==3.17.0
mysql-connector-python==8.0.28
packaging==21.3
pathspec==0.9.0
paypalhttp==1.0.1
Pillow==9.2.0
pipenv==2021.5.29
psycopg2==2.9.3
psycopg2-binary==2.9.3
setuptools==65.4.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.25.10
virtualenv==20.8.0
virtualenv-clone==0.5.7
whitenoise==6.2.0
